<html xmlns:form="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<h3>Enter your requirements</h3>
<form:form method="POST" action="/dataGenerator" modelAttribute="inputInformation">
    <table>
        <tr>
            <td><form:label path="numberOfRows">Number of Rows</form:label></td>
            <td><form:input path="numberOfRows"/></td>
        </tr>
        <tr>
            <td><form:label path="percentOfMistakes">Percent of Mistakes</form:label></td>
            <td><form:input path="percentOfMistakes"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form:form>
</body>
</html>